<div class="meta">
  <div class="sideblokk-seksjon navig">
    <div><a class="index" href="../om-tjenestene">Om tjenestene</a></div>
    {{#each collections.om-tjenestene}}
      <a href="{{rootPath}}{{this.path}}">{{this.title}}</a>
    {{/each}}
    <div><a class="index" href="../pakobling-til-freg">Påkobling FREG</a></div>
    {{#each collections.pakobling-til-freg}}
      <a href="{{rootPath}}{{this.path}}">{{this.title}}</a>
    {{/each}}
    <div><a class="index" href="../produsenttjenester">Produsenttjenester</a></div>
    {{#each collections.produsenttjenester}}
      <a href="{{rootPath}}{{this.path}}">{{this.title}}</a>
    {{/each}}
    <div><a class="index" href="../konsumenttjenester">Konsumenttjenester</a></div>
    {{#each collections.konsumenttjenester}}
      <a href="{{rootPath}}{{this.path}}">{{this.title}}</a>
    {{/each}}
    <div><a class="index" href="../test">Test</a></div>
    {{#each collections.test}}
      <a href="{{rootPath}}{{this.path}}">{{this.title}}</a>
    {{/each}}
    <div><a class="index" href="../sporsmal-og-svar">Spørsmål og svar</a></div>
  </div>
</div>
