<div class="data">
  <div class="innhold-blokk">
    <div class="innhold-blokk-innhold">
      {{{contents}}}

      <h2>Nyheter</h2>
      <div class="nyhetscontainer">
      {{#each nyheter}}
        <div class="nyhet">
        <h3>{{{this.formattedDate}}} - {{this.title}}  </h3>
        {{{this.contents}}}
        </div>
      {{/each}}
      </div>

      <h2>Driftsvarsler</h2>
      <table>
        {{#each driftsstatus}}
          <tr>
            <td>{{this.datetime}}</td>
            <td>{{{this.contents}}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>
